<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="es.source.code">

    <permission
            android:name="scos.permission.ACCESSSCOS"
            android:protectionLevel="dangerous"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:exported="true"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <!-- SCOSEntry -->
        <activity android:name=".activity.SCOSEntry">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- MainScreen -->
        <activity
                android:name="es.source.code.activity.MainScreen"
                android:permission="scos.permission.ACCESSSCOS">
            <intent-filter>
                <action android:name="scos.intent.action.SCOSMAIN"/>
                <!-- 不加DEFAULT会有问题 -->
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="scos.intent.category.SCOSLAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- login UI -->
        <activity android:name=".activity.LoginOrRegister" android:label="@string/label_account">
        </activity>
    </application>

</manifest>